@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Italianno&family=Lobster&display=swap');

body{
       background-image: url(/assets/img/medium-fire-photo-1920\ x\ 2400.jpg);
       background-size: cover;
}

/*Logo*/

#logo {
       font-family: Homemade Apple, Arial;
       color: #e7680d;
       padding: 30px;
       margin: auto;
}

/* Greeting bar */

aside {
       font-family: Italianno;
       font-size: x-large;
       text-align: center;
       padding: 20px;
       margin: auto;
       background-color: #e7680d;
}

/* Navigation Bar */

.nav-bar{
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       
}

.nav-bar li {
       display: inline;
}

.nav-bar li a {
       color: #e7680d;
       font-family: Italianno;
       font-size: xx-large;
       float: right;
       text-align: center;
       display: block;
       padding: 8px;
       text-decoration: none;
}

.nav-bar li a:hover {
       background-color: #e7680d;
       color: #251319;
}

/*Hero Images*/

#hero-image {
             max-width: 100%;
             width: 100%;
}

/*Three clickable images for tutorial videos*/

img {
       max-width: 100%;
       height: 450px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
       border: 5px ;
       border-radius: 5px;
       flex: 1 0 auto;
}

/*Image hover fade with text*/

.fade-box {
       position: relative;
       width: 50%;
       margin-left: auto;
       margin-right: auto;
       padding-top: 10px;
}

.image {
       margin-left: auto;
       margin-right: auto;
       opacity: 1;
       display: block;
       width: 100%;
       height: auto;
       transition: .5s ease;
       backface-visibility: hidden
}

.middle {
       transition: .5s ease;
       opacity: 0;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
}

.fade-box:hover .image {
       opacity: 0.3;
}

.fade-box:hover .middle {
       opacity: 1;
}

.text {
       background-color: #e7680d;
       color: #251319;
       font-size: 25px;
       padding: 16px 32px;
       font-family: lobster;
       text-decoration: none;
}

/*Video*/

iframe {
       position: relative;
       left: 250px ;
       margin-top: 25px;
       margin-bottom: 25px;
       

}

/* Footer */

footer {
       width: 100%;
       height: 60px;
       flex-shrink: 0;
       background-color: #251319;
}

/* Social media links */

.social-links {
       text-align: center;
}

.social-links li {
       display: inline;
       color: #e7680d;
       font-family: Homemade Apple, Arial;
       font-size: large;
}

.social-links i { 
         font-size: 160%; 
         margin: 10px;
         padding: 10px;
         color: #e7680d;
}

.social-links i:hover {
       background-color: #e7680d;
       color: #251319;

}

/*Contact Us*/

