@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Special+Elite&display=swap');

body{
       background-image: url(/assets/img/medium-fire-photo-1920\ x\ 2400.jpg);
       background-size: cover;
}

/*Logo*/

#logo {
       font-family: Rubik Burned, Arial;
       font-size: 50px;
       color: #e7680d;
       padding: 30px;
       margin: auto;
       text-shadow: 3px 3px 6px #b63a0e;
}

/* Hero Image */

#hero-outer {
       height: auto;
       width: 100%;
       overflow: hidden;
       position: relative;
       padding-top: 50px;
       padding-bottom: 100px;
}

#cover-text, #covertext h2 {
       color: rgba(231, 104, 13, 1);
       text-shadow: 3px 3px 6px #b63a0e;
}

#hero-image {
             height: 585px;
             width: 100%;
             background: url('../img/boerewors1.jpg') no-repeat center center;

/*animation for zoom effect*/
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}

/*creates level of zoom for hero image*/

@keyframes hero-zoom {
       from{
              transform: scale(1);
       }
       to{
              transform: scale(1.1);
       }
}

#cover-text {
       font-size: 40px;
       font-family: Special Elite;
       letter-spacing: 4px;

       width: 600px;
       height: 300px;

       padding-left: 10px;

       background-color: rgba(0, 16, 26, .7);

       position: absolute;

       top: 45%;
       left: 52%;
}

/*Middle content paragraph*/

#middle-content {

       font-family: Special Elite;
       font-size: 50px;
       text-align: center;
       
       color: #00101a;
       background-color: #e7680d;
       text-shadow: 3px 3px 6px #00101a;
       padding: 30px;
       width: 100%;
}

/* Navigation Bar */

.nav-bar{
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       
}

.nav-bar li {
       display: inline;
}

.nav-bar li a {
       color: #e7680d;
       font-family: Special Elite;
       font-size: 35px;
       float: right;
       text-align: center;
       display: block;
       padding: 8px;
       text-decoration: none;
       text-shadow: 4px 4px 6px #b63a0e;
}

.nav-bar li a:hover {
       background-color: #e7680d;
       color: #251319;
       text-shadow: 4px 4px 6px #00101a;
}


/*Three clickable images for tutorial videos*/

img {
       max-width: 100%;
       height: 450px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
       border: 5px ;
       border-radius: 5px;
       flex: 1 0 auto;
}

/*Image hover fade with text*/

.fade-box {
       position: relative;
       width: 50%;
       margin-left: auto;
       margin-right: auto;
       padding-top: 10px;
}

.image {
       margin-left: auto;
       margin-right: auto;
       opacity: 1;
       display: block;
       width: 100%;
       height: auto;
       transition: .5s ease;
       backface-visibility: hidden
}

.middle {
       transition: .5s ease;
       opacity: 0;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
}

.fade-box:hover .image {
       opacity: 0.3;
}

.fade-box:hover .middle {
       opacity: 1;
}

.text {
       background-color: #e7680d;
       color: #251319;
       font-size: 20px;
       padding: 16px 32px;
       font-family: Special Elite;
       text-decoration: none;
}

/*Video*/

#video-container {
       max-width: 1200px;
       margin: 50px auto;
       display: flex;
       flex-wrap: wrap;
       align-items: flex-start;
       gap: 20px;
}



#yt-video1, #yt-video2, #yt-video3 {
       width: 100%;
       height: auto;
       padding-bottom: 56.25%;
       position: relative;
    
}

iframe {
       position: absolute;
       width: 100%;
       height: 100%;
           
}

/* Footer */

footer {
       width: 100%;
       height: 60px;
       flex-shrink: 0;
}

/* Sticky Footer */

.footer, .push {
       height: 50px;
}

/* Social media links */

.social-links {
       text-align: center;
}

.social-links li {
       display: inline;
       color: #e7680d;
       font-family: Special Elite;
       font-size: large;
}

.social-links i { 
         font-size: 160%; 
         margin: 10px;
         padding: 10px;
         color: #e7680d;
}

.social-links i:hover {
       background-color: #e7680d;
       color: #251319;

}

/*Contact Us*/

input[type=text], input[type=email], select, textarea {
       width: 100%;
       padding: 12px;
       border: 1px solid #251319;
       border-radius: 4px;
       box-sizing: border-box;
       margin-top: 6px;
       margin-bottom: 16px;
       resize: vertical;
}

button[type=submit] {
       font-family: Special Elite;
       font-size: 30px;
       background-color: #251319;
       color: #e7680d;
       padding: 12px 20px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
}

button[type=submit]:hover {
       background-color: #e7680d;
       color: #251319;
}

.container {
       background-color: #00101a;
       padding: 20px;
       width: 50%;
       margin-left: 25%;
       margin-top: 20px;
}

 .fname, .lname, .email, #comment {
       font-family: Special Elite;
           font-size: xx-large;
           color: #e7680d;
}

.container h2 {

       font-family: Special Elite;
       font-size: 40px;
       color: #e7680d;
}

/* Media Queries */

/* Mobile Phones (600px and down) */

@media screen and (max-width: 600px ) { 

       /*Logo*/

#logo {
       text-align: center;
}

/* Navigation Bar */

.nav-bar{
       
       margin-right: 16%;
       
}

       /*Hero Images*/

#hero-outer {

       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 30px;
}

#hero-image {

       height: 300px;
       background-size: 100% 100%;
     }

#cover-text {
       font-size: 12px;
       font-family: Special Elite;
       letter-spacing: 4px;

       width: 300px;
       height: 95px;

       padding-left: 10px;

       top: 55%;
       left: 40%;
}
/* Middle content */

#middle-content {
       font-size: 30px;
       height: auto;
       padding: 0;
       margin: 0;
   }

/*Three clickable images for tutorial videos*/

      .fade-box {
              position: relative;
              width: 100%;
              margin-left: auto;
              margin-right: auto;
              padding-top: 10px;
       }
       
       .text {
              background-color: #e7680d;
              display: flex;
              flex-direction: column;
              color: #251319;
              font-size: 20px;
              padding: 5px 32px;
              font-family: lobster;
              text-decoration: none;   
       }
       .social-links i { 
              font-size: 160%; 
              margin: 5px;
              padding: 5px;
              color: #e7680d;
     }

/* Contact Form */

.container {
       background-color: #00101a;
       padding: 5px;
       width: 95%;
       margin-left: 2%;
       margin-top: 20px;
   }

   .container h2 {
       font-family: Special Elite;
       font-size: 33px;
       color: #e7680d;
       text-align: center;
   }

}

/* Tablets (600px and up) */

@media screen and (min-width: 600px ) {

}

/* Mobile Phones (992px and up)*/

@media screen and (min-width: 992px ) {
       
}