@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Italianno&family=Splash&display=swap');

body{
       background-image: url(/assets/img/medium-fire-photo-1920\ x\ 2400.jpg);
       background-size: cover;
}
#logo {
       font-family: Homemade Apple, Arial;
       color: #e7680d;
       background-color: #251319;
       padding: 30px;
       margin: auto;
}

aside {
       font-family: Italianno;
       font-size: x-large;
       text-align: center;
       padding: 20px;
       margin: auto;
       background-color: #e7680d;
}

/* Navigation Bar */

ul{
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #251319;
}
li {
       display: inline;
}

li a {
       color: #e7680d;
       font-family: Italianno;
       font-size: x-large;
       float: right;
       text-align: center;
       display: block;
       padding: 8px;
}

li a:hover {
       background-color: #e7680d;
       color: #251319;
}

/*Three clickable images for tutorial videos*/

img {
       width: max-content;
       height: 500px;
       margin-left: 400px;
       margin-bottom: 50px;
       border: 2px solid #e7680d;
       border-radius: 10px;
       animation-name: img-zoom;
       animation-duration: 5s;
       animation-fill-mode: forwards;
}